%button {
  position:relative;
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  font-family:$header-font-family;
  color: $blue;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  @include transition(background 0.1s linear);
  // border-bottom:0 !important;
  &:hover {
    background-color: $hover-button-color;
    color: white;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  }

button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn,
.btn-important {
  @extend %button;
  background-color:$yellow;
  color:$blue;
  &:hover {
    background-color:darken($yellow,10%);
    color:$blue;
  }
}

.btn {
}

.btn-important {}

.btn-alt{
  @extend %button;
  background-color:transparent;
  color:$blue;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-bottom: 4px solid $yellow;
}
