// Other
@mixin margin-fix {
	> *:first-child {
		margin-top:0;
	}
	> *:last-child {
		margin-bottom:0;
	}
}

@mixin text-shadow {
	text-shadow:0px 1px 0px rgba(0, 0, 0, 0.25);
}

//Images
@mixin img-center {
	display:block;
	margin:0  auto;
}