.site-wrap {
  background: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
/*=============== Site Header ===============*/

.site-header {
  background-color:rgba(0,0,0,.25);


  @include mq(medium) {
    position:relative;
    z-index:10;
  }
}
.site-logo {
  background-color:$blue;
  height:4em;
  line-height:4em;
  img {
    display:inline-block;
    max-width:em(175);
    vertical-align: middle;
  }
  @include mq(medium) {
    height:$nav-height;
    line-height:$nav-height;
    //padding:0 1em;
    border-right:$base-border;
    img {
      max-width:em(190);
    }
  }
}
.site-utility-nav {
  overflow: hidden;
  text-align:center;
  .inner-wrap {
    padding-top:$baseline*1.25;
    padding-bottom:$baseline*1.25;
  }
  .social-wrap {
    width: 15em;
    display: none;
    float:left;
  }
  @include mq(medium) {

    .social-wrap {
      display: inline-block;
    }
  }
}
.site-header-ribbon {
  background-color:$blue;

  .inner-wrap {
    padding-top:0;
    padding-bottom:0;
  }
  .site-logo {
    float:left;
    width:50%;

  }
  @include mq(medium) {
    .site-logo {
      float:left;
      width:50%;
    }
    .site-nav-container {
      float:left;
      width:50%;
    }
    @media (max-width: 830px){
      .site-logo {
        float:left;
        width:35%;
      }
      .site-nav-container {
        float:left;
        width:65%;
      }
    }
  }
}
.sun-links {


  font-size:.65em;
  > * {
    margin:0 .15em .5em 0;
   /* background-color:$yellow;
    border:5px solid $yellow;
    border-radius:$base-border-radius;*/
  }
  @include mq(medium) {
    font-size:$small-font-size;

    float:right;
    > * {
      margin: 0 .25em;
    }
  }
}
%ico {
  /*background-repeat:no-repeat;
  background-position:left center;
  padding-left:1.5em;
  background-size:1.25em;*/
  &:before {
    content:'';
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:1.5em;
    background-size:1.25em;
    //background-color:red;
  }
}
.ico-login {
  @extend %ico;

  &:before {

    background-image:url(img/ico-login.svg);
  }
}
.ico-members {
  @extend %ico;
  display:none;
  &:before {

    background-image:url(img/ico-login.svg);
  }
}
.ico-logout {
  @extend %ico;
  display:none;
  &:before {

    background-image:url(img/ico-login.svg);
  }
}
.logged-in {
	.ico-login {
		display:none;
	}
	.ico-logout {
		display:inline-block;
	}
	.ico-members {
		display:inline-block;
	}
}
.ico-search {
  @extend %ico;

  &:before {
    background-image:url(img/ico-search.svg);
  }
}
.ico-locator {
  @extend %ico;

  &:before {
    background-image:url(img/ico-locator.svg);
  }
}
.ico-menu {
  @extend %ico;

  &:before {
    background-image:url(img/ico-nav.svg);
  }
  @include mq(medium) {
    display:none;
  }
}


/*.ico-login {
  @extend %ico;
  background-image:url(img/ico-login.svg);
}
.ico-search {
  @extend %ico;
  background-image:url(img/ico-search.svg);
}
.ico-locator {
  @extend %ico;
  background-image:url(img/ico-locator.svg);
}
*/
.site-search {}

//Site Header Icons
.sh-icons {
  float: right;
  @include mq(medium) {
    display:none;
  }
}
.sh-ico-wrap {
  background-color:$yellow;
  display:block;
  padding:.2em .2em .0em .2em;
}
%sh-ico {
  background-repeat: no-repeat;
  background-position: center .9em;
  display: inline-block;
  padding-top: 2em;
  width: 3.25em;
  height:4em;
  background-color:darken($blue,5%);
  //margin-left: 1em;
  text-align: center;
  //background-color:$blue;
  color:$white;
  // border-radius:$base-border-radius;
  font-weight:bold;
  &:hover {
    color:$white;
    background-color:$blue;
  }
  span {
    font-size: .75em;
  }
  @include mq(medium) {
    //float:right;
  }
}

.sh-ph {
  margin: 0;
  i {
    font-style: normal;
    //display:none;
  }
  @include mq(medium) {
    font-size: $medium-font-size;
    i {
      //display:inline;
    }
  }
}

.sh-ico-search {
  background-image: url(img/ico-search.svg);
  @extend %sh-ico;
}

.sh-ico-menu {
  background-image: url(img/ico-nav-light.svg);
  @extend %sh-ico;
  @include mq(medium) {
    display: none;
  }
}

/*=============== Site Intro ===============*/
.site-header-wrap {
  background-image:url(img/site-intro-bg.jpg);
  background-repeat:no-repeat;
  background-position:top center;
  background-size: cover;
  @include mq(medium) {
    position:relative;
  }


}
.si-header-wrap {
  background-color:$blue;
  //background-color:$transparent-blue;
  background-color: rgba(0, 108, 163, 0.95);
  margin-top:$baseline*3;
  margin-bottom:$baseline*3;
  margin-left: 2em;
  margin-right: 2em;
  font-family: $header-font-family;

  @include mq(medium) {
    margin-top:$baseline*8;
    margin-bottom:$baseline*8;
    position:relative;
    z-index:2;
    margin-left: 4em;
    margin-right: 4em;
  }
  @include mq(large) {
    max-width: 72em;
    margin: 0 auto;
    margin-top: 6em;
    margin-bottom: 6em;
  }
  .inner-wrap {
    padding-top:$baseline*2.5;
    padding-bottom:$baseline*2.5;
  }
}
.site-intro {
  position:relative;
  z-index:3;
}
.si-h1 {
  color:$white;
  @include text-shadow;
  @include mq(large) {
    font-size: $xlarge-font-size;
  }

  /*font-variant: petite-caps;*/
  /*all-small-caps, petite-caps, all-petite-caps, titling-caps, and unicase*/
}

.svg-intro {
  position:absolute;
  //left:0;
  // right:0;
  // top:0;
  // bottom:0;
  // background-color:$dark-blue;
  // z-index:1;
  // min-width:1400px;
  // display:none;
  // overflow:hidden;
  @include mq(medium) {
    display:block;
  }
  @include mq(xlarge) {
    left:0;
  }
  svg {
    display:block;
  }
}
.no-smil {
  .svg-intro {
    display:none;
  }
}
/*=============== Page Header Intro ===============*/

.page-header {
	.post-meta, .breadcrumbs {
   color:$white;
   a {
    border-bottom:2px solid $yellow;
    color:$white;
    &:hover {
     color:$yellow;

   }
 }
}
}

.ph-header-wrap {
  background-color:$blue;
  background-color:$transparent-blue;
  margin-top:$baseline*0;
  margin-bottom:$baseline*0;
  h1 {
    color:$white;
    @include text-shadow;
    margin-bottom:0;
  }
  @include mq(medium) {
   margin-top:$baseline*0;
   margin-bottom:$baseline*0;
 }
 @include mq(large) {
  margin-top:$baseline*0;
  margin-bottom:$baseline*0;
}
.inner-wrap {
  padding-top:$baseline*2.5;
  padding-bottom:$baseline*2.5;
}
}
.ph-h1 {
  color:$white;
  @include text-shadow;
  /*font-variant: petite-caps;*/
  /*all-small-caps, petite-caps, all-petite-caps, titling-caps, and unicase*/
}
/*=============== Services Section ===============*/
.services-section {
  background-color:$blue;
  overflow:hidden;
  position:relative;
  z-index:2;
}
.ss-item {
  display:block;
  float:left;
  width:50%;
  border-left:$base-border;
  border-bottom:$base-border;
  padding:1em 0em 2em 0em;
  @include transition (all .2s ease-in-out);
  text-align:center;
  //padding:$baseline*2 $baseline;

  &:after {
    font-size:.5em;
    content:'';
    display:block;
    height:8em;
    background-repeat:no-repeat;
    background-size:8em;
    background-position:center center;
    @include transition (all .2s ease-in-out);

  }
  @include mq(medium) {
    &:after {
      font-size:.75em;
    }
    &:hover {
      &:after {
       @include transform(scale(1.25));
     }
     .ss-item-header {
      @include transform(translateY(-.5em) scale(.875));

    }
  }
}
@include mq(large) {
  &:after {
    font-size:1em;
  }
}
&:nth-child(1n) {
  background-color:$light-blue;
  &:after {
    background-image:url(img/ico-pipes-light.svg);
  }
}
&:nth-child(2n) {
  background-color:darken($light-blue,3%);
  &:after {
    background-image:url(img/ico-gears-light.svg);
  }
}
&:nth-child(3n) {
  background-color:$blue;
  &:after {
    background-image:url(img/ico-automation-light.svg);
  }
}
&:nth-child(4n) {
  background-color:$yellow;
  &:hover {
    background-color:$dark-yellow;
  }
  .ss-item-header {
    span {
      color:$blue;
    }
  }
  &:after {
    background-image:url(img/ico-cloud.svg);
  }
}
&:hover {
  background-color:$dark-blue;
}
@include mq(medium) {
  width:25%;
}
}
.ss-item-header {
  font-size:.65em;
  color:$white;
  vertical-align: top;
  display:block;
  margin:0;
  line-height:6em;
  @include transition (all .2s ease-in-out);
  span {
    line-height:.75em;
    font-size:$large-font-size;
    color:$white;
    display:inline-block;
  }
  @include mq(medium) {
    font-size:.75em;
    span {
      line-height:.875em;
    }
  }
  @include mq(large) {
    font-size:$base-font-size;
  }
}

/*=============== Featured Products ===============*/
.section-header {
  @include margin-fix;
  margin-bottom:$baseline*3;
}
.sh-header {
  font-size:$large-font-size;
  margin:0;

  @include mq(medium) {
    font-size:$xlarge-font-size;
  }
  @include mq(large) {
   font-size:$xxlarge-font-size;
 }
}
.sh-subheader {
  font-size:$large-font-size;
  margin:0;
}

.fp-item {
  border:$base-border;
  position:relative;
  display:block;
  //max-height:6em;
  height:15em;
  overflow:hidden;
  background-color:$blue;
  background-position:center center;
  background-size:cover;
  img {
    @include transition (transform .3s ease-in-out);
  }
  &:hover {
    img {
      @include transform(scale(1.05));
    }
    .fp-item-title {
     @include transform(translateY(-.5em) );
   }
 }
 img {
  display:block;
  position:relative;
  opacity:.5;
}
@include mq(medium) {

  height:em(480);
  @include span-columns(4 of 12);
  img {
    opacity:1;
  }
}
}
.fp-item-title {
  position:absolute;
  left:0; right:0; bottom:0em; top:0;
  text-align:center;
  color:$white;
  font-size:$large-font-size;
  @include transition (transform .3s ease-in-out);

  left:0; right:0; bottom:1em; top: auto;
  background-color:$transparent-blue;
  border-top:$base-border;
  border-bottom:$base-border;

}

/*=============== Offers Section ===============*/
.offers-section {
  background-position:center center;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  border-top:$base-border;
  border-bottom:$base-border;
  .inner-wrap {
    max-width: 83em;
  }
}
.os-item {
  img {
    max-width:50%;
    @include img-center;
  }
  @include mq(medium) {
    padding:0 4em;
    img {
      max-width:100%;
    }
  }
}
.os-title {
  text-align:center;
  @include mq(medium) {
    text-align:left;
  }
}
.os-description {
  display:none;
  @include mq(medium) {
    display:block;
    width: 65%;
  }
}
.os-cta {
  text-align:center;
  @include mq(medium) {
    text-align:left;
  }
}
/*=============== About Section ===============*/
.about-section {
  position:relative;
  background-color:$white;
  @include mq(medium) {
    .inner-wrap {
      padding-top:0;
      padding-bottom:0;
    }
  }
}
.as-container {
  position:relative;
  z-index:2;
  background-color:white;

  @include margin-fix;
  @include mq(medium) {

  }
  @include mq(large) {
    width:55%;
    padding-right:3em;
    padding-top:$baseline*12;
    padding-bottom:$baseline*12;
  }
}
.as-figure {
  position:absolute;
  right:0;top:0;bottom:0;
  z-index:1;

  width:50em;
  //display:none;
  @include mq(large) {
    background-image:url(img/about-section.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
  }
  img {
   // display:none;
   position:absolute;
   right:0; top:0; bottom:0;
   display:none;
 }
}
/*=============== Site Content ===============*/

.site-content {}

.site-content-primary {
  @include mq(large) {
   // @include span-columns(9 of 12);
 }
}

.site-content-secondary {
  @include mq(large) {
    @include span-columns(3 of 12);
    @include omega;
  }
}
.aside-nav {
  > .page_item_has_children {
    > .children {
      .children {
        a {
          font-size:$regular-font-size;
          padding-left:1em;

        }
        li {
          &:last-child {
            border-bottom:0;
          }
        }
      }
    }
  }
  ul {

  }
  li{
    list-style: none;
    a{
      font-size: $large-font-size;
      font-family:$header-font-family;
      &:hover {
        color:$blue;
      }
    }
    li {
      display:block;
      border-bottom:$base-border;
      &:first-child {
        border-top:$base-border;
      }

      a {
        display:block;
        padding:.35em;
        font-size:em(24);
        background-image:url(img/ico-arrow-right-light.svg);
        background-repeat:no-repeat;
        background-position:center right;
        font-family:$header-font-family;
        @include transition (all .2s ease-in-out);
        &:hover {
         @include transform(translatex(.25em));

       }
     }
   }
 }
}

.aside-ctas {
  margin-top:$baseline*3;
  text-align:center;
  a {
    display:block !important;
    margin: 0 auto;
    font-size:em(24);
  }
}
/*=============== Site Footer ===============*/

.site-footer {
  background-color: $blue;
  text-align: center;
  color: $white;
  border-top:$base-border;
  text-align:center;
  .inner-wrap {
    @include mq(large) {
      background-image:url(img/logo-footer.jpg);
      background-repeat:no-repeat;
      background-position:center right;
      background-size:em(230);
    }
  }

  p {

  }
  li, p {
    color:$white;
    font-family:$header-font-family;
    @extend h4;
    font-size:$regular-font-size;
    a {
      color:$white;
      @include transition (border .2s ease-in-out);
      &:hover {
        border-bottom:2px solid $yellow;
      }
    }
  }
  @include mq(large) {
    text-align:left;
  }
}

.sf-small {
  background-color: $medium-gray;
  text-align: center;
  .inner-wrap {
    padding-top: $baseline*2;
    padding-bottom: $baseline*2;
  }
}
.sf-nav {
  ul {
    padding:0;
    li {
      display:inline-block;
      margin:0 .5em;

    }
  }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
  display: none;
}
/*=============== Search ===============*/

.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em;
}

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0;
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
}

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(img/ico-search-light.svg) no-repeat center center !important;
}
.site-content {
	.search-submit {
		background-color:$blue !important;
	}
}
.no-svg {
  .search-submit {
    background: url(img/ico-search.png) no-repeat center center !important;
  }
}

@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em;
  }
}

@include mq(large) {
  .search {}
  .search-text {}
}

.search-module {
  background-color: $base-accent-color;
  height: 6em;
  margin-top: -6em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: relative;
  z-index: 10000;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
  }
  .inner-wrap {
    padding: 0.3em 1.5em 1em;
  }
}

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  //position:absolute;
  top: 0;
  right: 0;
}
/*=============== Product Carousel ===============*/

.product-carousel {

}

.product-item {
  @include mq(small) {
    @include span-columns(3 of 6);
    @include omega(2n);
  }
  @include mq(medium) {
    @include span-columns(3 of 12);
  }
}

/*=============== Loop Item ===============*/
.loop-item {
  text-align:center;
  border:$base-border;
  padding:$baseline*2;
  display:block;
  @include transition (all .2s ease-in-out);
  &:hover {
    background-color:$blue;
    .li-title {
      color:$white;
    }
  }
}
.li-title {
  margin-bottom:0;
  @include transition (all .2s ease-in-out);
}

/*=============== More Info Module ===============*/
.more-info-section {
  background: url("img/iStock_large.jpg");
  background-size: cover;
  background-position: center center;
  @extend .dark-module;
  background-color:$blue;
  p {
    font-family: $header-font-family;
  }
}
.mi-wrap{
  background-color: rgba(1, 93, 139, 0.9);
}
.mi-item {
  border-top: 1px solid rgba(255,255,255,0.3);
  padding:1em;
  display:block;
  @include transition (background .2s ease-in-out);
  img {
    height:em(250);
    width:em(250);
    object-fit: contain;
  }
  &:hover {
    background-color:$dark-blue;
    .mi-img {
      img {
        @include transform(scale(1.05));
        opacity:1;
        @include filter(grayscale(0%));
      }
    }
  }
  @include mq(small) {
    min-height:em(281);
    margin-bottom:$baseline*2;
    .mi-body {
      p {
        font-size:em(18);
        &:after {
          display:none;

        }
      }
    }
  }
  @include mq(medium) {
    @include span-columns(4 of 12);
  }
}

.mi-header{
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0;
}

.mi-img {
  margin-bottom:$baseline*2;
  overflow:hidden;
  img {
    @include img-center;
    width:100%;
    opacity:.5;
    @include transition (all .2s ease-in-out, opacity .2s ease-in-out);
    @include filter(grayscale(100%));
  }
}
.mi-body {
  @include margin-fix;
  @include mq(small) {
    p {
      padding-right:0;
    }
  }
  p {
    font-size:em(24);
    @extend .arrow-link;
    color: $yellow;

  }
  @include mq(medium) {
    p {

    }
  }
}






/*=============== HubSpot Landing Page ===============*/

.hs-landing-page {
  .site-content-primary ul li:after {
    background-image:url(http://cdn2.hubspot.net/hubfs/379142/img/ico-bullet.svg);
  }
  .site-header-wrap {
    background-image:url(http://www.cyclonaire.com/assets/header-curving-pipe-view.jpg);
    .social-wrap {
      width:15em;
      margin-top:2em;
      float:right;
      display:none;
      @include mq(medium) {
        display:block;
      }
    }
  }
  .inner-wrap {
    max-width:em(1200);
  }
  .site-content {

  }
  .site-content-primary {
    @include mq(medium) {
      @include span-columns(7 of 12);
    }
  }
  .site-content-secondary {
    @include mq(medium) {
      @include span-columns(5 of 12);
    }
    .hs-form {
      background-color:lighten($light-gray, 5%);
      padding:$baseline*3;
      border-radius:$base-border-radius;
    }
  }
  .site-logo {
    border-right:0;
  }
}



/*=============== Page Siblings ===============*/
$page-siblings-height:5em;
.page-siblings {
  display:block;
  clear:both;
  overflow:hidden;
  > * {
    width:50%;
    float:left;

    height:$page-siblings-height;

  }
  @include mq(medium) {
    > * {
      width:16.66666666666667%;
    }
  }
}
.ps-item {
  display:block;
  position:relative;
  background-color:$white;
  border-right:$base-border;
  border-top:$base-border;

}
.ps-item-header {
  @extend .ps-item;
  background-color:$yellow;
  .ps-title {
    color:$blue;
    span {
      color:$blue;
    }
  }
  &:after {

  }
}
.ps-title {
  position:relative;
  z-index:2;
  text-align:center;
  line-height:$page-siblings-height;
  height:$page-siblings-height;

  span {
    @extend h4;
    color:$blue;
    display:inline-block;
    margin:0;
    line-height:1.2em;
    vertical-align: middle;
    font-size:em(24);
  }
}
.ps-img {
 background-size:cover;
 background-position:center;
 top:0;
 bottom:0;
 right:0;
 left:0;
 position:absolute;
 display:block;
 z-index:1;
}



.svg-wrapper {
  display:none;
  position: relative;
  width: 100%;
  padding-bottom: 65%;
  vertical-align: middle;
  @include mq(medium) {
    display:inline-block;
  }
}
.svg-wrapper svg { display: inline-block; position: absolute; top: 0; left: 0; cursor: pointer; }
.states-list {

}


.rep-locator-item {
	p {
		font-size:em(18);
	}
}



#map {
	height:em(800);

}

.leaflet-popup-content {
  .li-title {
    margin-top:0;
  }
}

.site-content{

  p{
    span{
      a, a.cta_button{
        border-bottom: none;
      }
    }
  }
}
.additional-content {
  clear:both;
  .img-gallery{
    a{

      img {
        height: 200px;
        width: 100%;
      }

    }
  }
}
/************ Rep Locator ***************/
.repo-search{
  background-color: $light-gray;
  width: 100%;
  padding: em(30) em(30) em(10);
    div{

      select{
        width: em(320);
        font-size: $medium-font-size;
      }
    }
}

/*=============== Resources Module ===============*/

.resources-module {
  background: url("img/cyclolift.jpg");
  background-size: cover;
  // background-color: $white;
}
.rm-wrap{
  background-color:rgba(222, 222, 222, 0.95);
}

.rm-item {
  text-align: center;
  //background-color: $light-gray;
  padding: 1em !important;
  &:hover {
    .rm-item-img {
      @include transform(scale(1.05));
    }
  }
  @include mq(medium) {
    margin-bottom: 0;
  }
}

.rm-item-cta {
  font-size: 1.5em;
  // padding: 0.5em 1em;
  font-weight: bold;
}

.rm-item-img {
  @include transition(all .15s ease-in-out);
  margin-bottom: $baseline*2;
  img {
    max-width: 100%;
    object-fit: contain;
    height: 19.375em;
  }
}

.rm-item-title {
  text-decoration: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  text-align: center;
  //background-color:red;
  height: 2.5em;
  line-height: 2.5em;
  color: $base-font-color;
  position: relative;
  z-index: 10;
  span {
    line-height: 1.25em;
    display: inline-block;
    color: $base-font-color;
  }
  // &:after {
  //     content: '';
  //     position: relative;
  //     display:inline-block;
  //    // background-color:red;
  //     width: .75em;
  //     height:.75em;
  //     margin-left:.25em;
  //     background-position: center;
  //     background-repeat: no-repeat;
  //     background-image: url(http://cdn2.hubspot.net/hubfs/1793355/img/ico-arrow-orange.svg);
  //   }
}
