// Inner Wrap
/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/

.inner-wrap {
  @include outer-container;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @include pad($baseline*3 $baseline*2 $baseline*3 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*5 $baseline*3 $baseline*5 $baseline*3);
  }
}

.inner-wrap-narrow {
  @extend .inner-wrap;
  max-width:em(1050);
}

// Media Object
.media-object {
  overflow: hidden;
  @include margin-fix;
}

.mo-img {
  
  display: block;

  img {
    width: 100%;
  }
  @include mq(medium) {
    margin-right: 5%;
    width: 20%;
    float: left;
  }
}

.mo-body {
  
  @include mq(medium) {
    width: 75%;
    float: left;
  }
}

.mo-header {
  margin-top: 0;
  margin-bottom: .15em;
}

.media-grid-2 {
  > * {
    margin-bottom: $baseline*2;
  }
  @include mq(medium) {
    > * {
      @include span-columns(4.5 of 9);
      @include omega(2n);
      margin-bottom: $baseline*3;
    }
  }
}

.dark-module {
  p {
    color:$white;
  }
  h1, h2, h3, h4, h5 {
    color:$white;
  }
}
/*=============== Social Media ===============*/

.social-wrap {
  overflow: hidden;
  a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    path {
      @include transition (all .1s linear);
    }
    &:hover {
      opacity: .75;
      path {
        fill: $blue;
      }
    }
  }
  img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle;
  }
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/
}
/*=============== Slide Panel ===============*/

.slide-panel {
  display: none;
  position: fixed;
  background: $dark-gray;
  color: #fff;
  height: 100%;
  width: em(340);
  right: -em(340);
  top: 14%;
  z-index: 10;
  @include transition (right 0.4s ease-in-out);
  h2 {
    padding: .2em 1em;
  }
  p {
    background: $dark-gray;
    padding: .25px 2em;
  }
  label {
    color: $white !important;
  }
  &:hover {
    right: 0px;
  }
  @include mq(medium) {
    display: block;
  }
}

.slide-panel-button {
  position: absolute;
  top: 50px;
  right: 340px;
  padding: 20px 20px;
  background: $dark-gray;
  min-width: 200px;
}
/*=============== Slide Box ===============*/

#slidebox {
  padding: em(10) em(10) em(10) em(16);
  position: fixed;
  bottom: 0;
  right: em(-430);
  z-index: 1000;
  width: 100%;
  @include mq(medium) {
    width: auto;
  }
}

a.close {
  //background: transparent url(http://cdn2.hubspot.net/hub/53/file-527841348-gif/close.gif?t=1402397452961) no-repeat top right;
  background-color: white;
  //background-color:rgba(255,255,255,.75);
  color: $blue;
  text-align: center;
  float: left;
  padding: 0 $baseline;
  font-size: em(11);
  border-radius: em(3);
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em;
  //display:none;
}

a.close:hover {
  background-color: rgba(255, 255, 255, .75);
}
#last {
	margin:0 !important;
}
/*=============== Misc ===============*/

hr {
  display: block;
  clear: both;
}

figure {
  margin: 0;
  padding: 0;
}

.wp-pagenavi {
  > * {
    margin-right: .75em;
  }
}




/*=============== Accordion Tabs ===============*/

.accordion-tabs {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(960) !default;
  $tab-border: 1px solid $base-border-color;
  $tab-content-background: lighten($light-gray, 10);
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: em(960) !default;

  @include clearfix;
  line-height: 1.5;
  margin-bottom: $base-spacing;
  padding: 0 !important;

  @include media(max-width $tab-mode) {
    border-radius: $base-border-radius;
    border: $tab-border;
  }

  .tab-header-and-content {
    list-style: none;
    font-size:1.15em;
    &:after {
      display:none;
    }
    @include media($tab-mode) {
      display: inline;
    }

    &:first-child .tab-link {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;

      @include media(max-width $tab-mode) {
        border-top: 0;
      }
    }

    &:last-child .tab-link {
      @include media(max-width $tab-mode) {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }

  .tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    display: block;
    font-weight: bold;
    font-size:$medium-font-size;
    padding: $base-spacing/2 $gutter/2;
    text-decoration: none;
	font-family: $header-font-family;
	border-bottom:0;
    
       @include media($tab-mode) {
      @include inline-block;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border-top: 0;
    }

    &:hover {
      color: $base-link-color;
       border-bottom:0;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      background-color: $tab-active-background;

      @include media($tab-mode) {
        background-color: $tab-active-background;
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    background: $tab-content-background;
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;
    
    @include margin-fix;

    @include media($tab-mode) {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border: $tab-border;
      float: left;
    }
  }
}


/*=============== Click to Expand ===============*/
.click-expand {
  border-bottom:$base-border;
  clear:both;
  overflow:hidden;
  @include transition (all .2s ease-in-out);
  &.active {
    &:hover {
        background-color:$white;
        .ce-header {
          color:$blue;
        }
      }
    .ce-header {
      &:after {
        content:'-';
      }
    }
    .ce-body {
      display:block;
      opacity:1;
      @include animation(click-expand .5s 1);
      @include animation-fill-mode(backwards);
      @include animation-delay(.05s);
      padding:$baseline*2;
      display:block;    
    }
  }
   &:hover {
        background-color:$blue;
        .ce-header {
          color:$white;
        }
      }

}
.ce-header {
  position:relative;
  cursor:pointer;
  padding-left: em(5);
  padding-right: em(5);
  &:after {
    content:'+';
    color:$yellow;
    padding-left:8px;
    position:absolute;
    right:em(5);
  }

}
.ce-body {
  display:none;
  opacity:0;

  
}



@include keyframes(click-expand) {
  from {
    //@include transform(scale(0));
  opacity:0;
     
  }
  to {
    //@include transform(scale(1));
 opacity:1;
    

  }
}



/*=============== Click to Expand ===============*/

.breadcrumbs {
  font-size:$small-font-size;
  margin-top:-1em !important;
  margin-bottom:2em;
}



