body {
  //@include font-feature-settings("kern","liga","frac", "pnum");
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
  color:$blue;
  span {
    color:$yellow;
  }
}

h1 {

  font-size: $large-font-size;
  margin-top: 0;
  margin-bottom: 32px;
   @include mq(medium) {
    font-size: $xxlarge-font-size;
  }
  @include mq(large) {
    font-size: $display-font-size;
  }
}

h2 {
  font-size: $xlarge-font-size;
  margin-top: 24px;
  margin-bottom: 16px;
}

h3 {
  font-size: $large-font-size;
  margin-top: 24px;
  margin-bottom: 16px;
  
}

h4 {
  font-size: $large-font-size;
  margin-top: 16px;
  margin-bottom: 16px;

}

h5 {
  font-size: $medium-font-size;
  margin-top: 16px;
  margin-bottom: 16px;
}

h6 {
  font-size: $medium-font-size;
  margin-top: 16px;
  margin-bottom: 16px;
}

p {
  margin: 16px 0;
  font-size:$regular-font-size;
}
.large-text {
  font-size:$xlarge-font-size;
}

.medium-text {
  font-size:$large-font-size;
}
a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;
  
  &:hover {
    color: $hover-link-color;
  }
  &:active,
  &:focus {
    color: $hover-link-color;
    outline: none;
  }
}
.site-content {
	p, ul li {
  span {
    a {
      border-bottom:none;
      &:hover {
        border-bottom:none;
      }
    }

  }
		a {
		//	font-weight:bold;
			border-bottom:2px solid $blue;
			@include transition (all .2s ease-in-out);
			&:hover {
				border-bottom:4px solid $yellow;
				color:$blue;
			}
		}
	}
}
hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: 0;
  margin: 0;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;
  &:before {
    content: "\2014 \00A0";
  }
}
.emph {
  @extend h4;

}
.arrow-link {
  display:inline-block;
  //background-color:green;
  position:relative;
  padding-right:1.5em;
  font-family:$header-font-family;
  &:hover {
    &:after {
      
      @include transform(translateX(.15em));
    }
  }
  &:after {
    content:'';
    //background-color:red;
    display:inline-block;
    line-height:1.2em;
    width:1.1em;
    background-image:url(img/ico-arrow-right-light.svg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:1.1em;
    position:absolute;
    bottom:0; right:0; top:0;
    @include transition (all .2s ease-in-out);
  }
}