// Typography
$base-font-family: "proxima-nova",sans-serif;
$header-font-family: "proxima-nova-extra-condensed",sans-serif;

// Font Sizes
$base-font-size: em(16);
$small-font-size: em(14);
$regular-font-size: em(21);
$medium-font-size: em(24);
$large-font-size: em(34);
$xlarge-font-size: em(45);
$xxlarge-font-size: em(58);
$display-font-size: em(75);


// Line height
$baseline:em(8); //Old habits die hard
$base-line:em(8);
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$white:#ffffff;
$black:#000000;
$blue: #006ca3;
$light-blue:#0282c3;
$transparent-blue:rgba(0,108,163,.7);
$dark-blue:darken($blue,5%);
$yellow:#ffc71e;
$dark-yellow:darken($yellow,10%);
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$transparent-white:rgba(255,255,255,0.9);


// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: $yellow;
$base-button-color: $yellow;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: rgba(0, 58, 100, .35);
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;


// Navigation
$nav-font-size:em(24);
$nav-height:em(90);
$nav-height-mobile:em(65);
$nav-background:$blue;
$nav-background-mobile:$blue;
$nav-text-color:$white;
$nav-text-color-hover:$white;
$nav-hover:$dark-blue;
$nav-active-background:darken($nav-background, 10%);
$nav-border:$base-border;
$nav-border-mobile:1px solid lighten($nav-background-mobile,5%);
$nav-font-family:$header-font-family;


$nav-spacing-mobile:$baseline*2;
$nav-spacing-medium:$baseline*2;
$nav-spacing-large:$baseline*4;
$nav-spacing-xlarge:$baseline*4;

$nav-subnav-font-size:em(21);
$nav-subnav-height:em(60);
$nav-subnav-background:$nav-hover;
$nav-subnav-border:$base-border;
$nav-subnav-hover:darken($nav-subnav-background, 10%);

$nav-mobile-width:17em;
