/*!
Theme Name: 	Default Template
Theme URI: 		http://julian.is
Description: 	Default theme for .
Version: 		1.0
Author: 		Julian Gaviria
Author URI: 	julian.is
Tags: 			starkers, naked, clean, basic, html5, boilerplate, sass, smacss
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013-2014 thoughtbot, inc.
 * MIT License */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*
This class is supposed to be assigned to the parent of items you need organized. Example below:
<div class="rows-of-2">
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
</div>
This would give you 2 rows with 2 columns.
*/
.rows-of-2 {
  display: block; }
  .rows-of-2::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-2 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%; }
        .rows-of-2 > *:last-child {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n) {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n+1) {
          clear: left; }
        .rows-of-2 > *:nth-last-child(2):last-child {
          margin-bottom: 0 !important; }
        .rows-of-2 > *:nth-last-child(1):last-child {
          margin-bottom: 0 !important; } }

.lt-ie9 .rows-of-2 {
  display: block; }
  .lt-ie9 .rows-of-2::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-2 > * {
        float: left;
        width: 50% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em;
        display: inline-block !important;
        clear: none !important; } }

.rows-of-3 {
  display: block; }
  .rows-of-3::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-3 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .rows-of-3 > *:last-child {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n) {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n+1) {
          clear: left; } }

.lt-ie9 .rows-of-3 {
  display: block; }
  .lt-ie9 .rows-of-3::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-3 > * {
        float: left;
        width: 33.3% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

.rows-of-4 {
  display: block; }
  .rows-of-4::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-4 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%; }
        .rows-of-4 > *:last-child {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n) {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n+1) {
          clear: left; } }

.lt-ie9 .rows-of-4 {
  display: block; }
  .lt-ie9 .rows-of-4::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-4 > * {
        float: left;
        width: 25% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

@media (max-width: 40em) {
  .mobile-rows-of-2 {
    display: block; }
    .mobile-rows-of-2::after {
      clear: both;
      content: "";
      display: table; }
    .mobile-rows-of-2 > * {
      margin-bottom: 1.5em;
      display: block;
      position: relative;
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      .mobile-rows-of-2 > * > *:first-child {
        margin-top: 0; }
      .mobile-rows-of-2 > *:nth-last-child(1) {
        background-color: red;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:nth-last-child(2) {
        background-color: green;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:last-child {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n) {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n+1) {
        clear: left; } }

.row {
  display: block;
  clear: both; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

@media (min-width: 40em) {
  .col-1 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 6.1721527019%; }
    .col-1:last-child {
      margin-right: 0; }
  .col-2 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%; }
    .col-2:last-child {
      margin-right: 0; }
  .col-3 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .col-3:last-child {
      margin-right: 0; }
  .col-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .col-4:last-child {
      margin-right: 0; }
  .col-5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .col-5:last-child {
      margin-right: 0; }
  .col-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .col-6:last-child {
      margin-right: 0; }
  .col-7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .col-7:last-child {
      margin-right: 0; }
  .col-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .col-8:last-child {
      margin-right: 0; }
  .col-9 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .col-9:last-child {
      margin-right: 0; }
  .col-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%; }
    .col-10:last-child {
      margin-right: 0; }
  .col-11 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 91.4701957002%; }
    .col-11:last-child {
      margin-right: 0; }
  .col-12 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-12:last-child {
      margin-right: 0; }
  .col-last {
    margin-right: 0;
    margin-right: 0 !important; } }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, .emph, .site-footer li, .site-footer p, .ps-title span, h5, h6 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  line-height: 1.25;
  margin: 0;
  color: #006ca3; }
  h1 span, h2 span, h3 span, h4 span, .emph span, .site-footer li span, .site-footer p span, .ps-title span span, h5 span, h6 span {
    color: #ffc71e; }

h1 {
  font-size: 2.125em;
  margin-top: 0;
  margin-bottom: 32px; }
  @media (min-width: 40em) {
    h1 {
      font-size: 3.625em; } }
  @media (min-width: 60em) {
    h1 {
      font-size: 4.6875em; } }

h2 {
  font-size: 2.8125em;
  margin-top: 24px;
  margin-bottom: 16px; }

h3 {
  font-size: 2.125em;
  margin-top: 24px;
  margin-bottom: 16px; }

h4, .emph, .site-footer li, .site-footer p, .ps-title span {
  font-size: 2.125em;
  margin-top: 16px;
  margin-bottom: 16px; }

h5 {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 16px; }

h6 {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 16px; }

p {
  margin: 16px 0;
  font-size: 1.3125em; }

.large-text {
  font-size: 2.8125em; }

.medium-text {
  font-size: 2.125em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #006ca3;
  text-decoration: none; }
  a:hover {
    color: #ffc71e; }
  a:active, a:focus {
    color: #ffc71e;
    outline: none; }

.site-content p span a, .site-content ul li span a {
  border-bottom: none; }
  .site-content p span a:hover, .site-content ul li span a:hover {
    border-bottom: none; }
.site-content p a, .site-content ul li a {
  border-bottom: 2px solid #006ca3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .site-content p a:hover, .site-content ul li a:hover {
    border-bottom: 4px solid #ffc71e;
    color: #006ca3; }

hr {
  border-bottom: 1px solid rgba(0, 58, 100, 0.35);
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  padding: 0;
  margin: 0; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

.arrow-link, .mi-body p {
  display: inline-block;
  position: relative;
  padding-right: 1.5em;
  font-family: "proxima-nova-extra-condensed", sans-serif; }
  .arrow-link:hover:after, .mi-body p:hover:after {
    -webkit-transform: translateX(.15em);
    -moz-transform: translateX(.15em);
    -ms-transform: translateX(.15em);
    -o-transform: translateX(.15em);
    transform: translateX(.15em); }
  .arrow-link:after, .mi-body p:after {
    content: '';
    display: inline-block;
    line-height: 1.2em;
    width: 1.1em;
    background-image: url(img/ico-arrow-right-light.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.1em;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

fieldset {
  background: rgba(0, 88, 151, 0.35);
  border: 1px solid rgba(0, 58, 100, 0.35);
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "proxima-nova", sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 58, 100, 0.35);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover, select[multiple=multiple]:hover {
    border-color: rgba(0, 28, 49, 0.35); }
  textarea:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select[multiple=multiple]:focus {
    border-color: #006ca3;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 91, 138, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

.hs-form fieldset {
  background: transparent; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid rgba(0, 14, 24, 0.35);
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid rgba(0, 58, 100, 0.35);
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

/*=============== Spec Tables ===============*/
.spec-table {
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
  background: #fcfcfc; }

.spec-thead {
  display: block; }

.spec-table-row {
  display: block;
  width: 100%; }

.spec-cell {
  display: block;
  border: .2em solid #ffffff;
  padding: .5em .8em;
  vertical-align: top; }
  .spec-cell p {
    margin: .5em 0; }
  .spec-cell > ul {
    margin: .5em 0; }
    .spec-cell > ul > li {
      margin-bottom: 0 !important; }
      .spec-cell > ul > li ul {
        padding: 0 0 0 1.8em; }
  .spec-cell input, .spec-cell select {
    width: 100%; }

.spec-col {
  display: table-column; }

.spec-col-1 {
  width: 100%; }

.spec-col-2 {
  width: 100%; }

@media (min-width: 40em) {
  .spec-table {
    display: table; }
  .spec-thead {
    display: table-header-group; }
  .spec-table-row {
    display: table-row; }
  .spec-cell {
    display: table-cell; }
    .spec-cell p {
      font-size: 1em; }
  .spec-spec-col-1 {
    width: 30%; }
  .spec-spec-col-2 {
    width: 70%; } }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.site-content-primary ul {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .site-content-primary ul li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 21px;
    line-height: 1.5em; }
    .site-content-primary ul li p {
      font-size: 21px; }
    .site-content-primary ul li a {
      text-decoration: none;
      font-weight: normal; }
    .site-content-primary ul li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: .45em;
      background-repeat: no-repeat; }

.tab-content ul {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .tab-content ul li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 18px;
    line-height: 1.5em; }
    .tab-content ul li p {
      font-size: 18px; }
    .tab-content ul li a {
      text-decoration: none;
      font-weight: normal; }
    .tab-content ul li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: .45em;
      background-repeat: no-repeat; }

.bullet-style {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .bullet-style li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 18px;
    line-height: 1.5em; }
    .bullet-style li p {
      font-size: 18px; }
    .bullet-style li a {
      text-decoration: none;
      font-weight: normal; }
    .bullet-style li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: .45em;
      background-repeat: no-repeat; }

button, input[type="submit"], .btn, .btn-important {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #ffc71e;
  border-radius: 5px;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  color: #006ca3;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear;
  border-bottom: 0 !important; }
  button:hover, input[type="submit"]:hover, .btn:hover, .btn-important:hover {
    background-color: #ffc71e;
    color: white; }
  button:disabled, input[type="submit"]:disabled, .btn:disabled, .btn-important:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn, .btn-important {
  background-color: #ffc71e;
  color: #006ca3; }
  .btn:hover, .btn-important:hover {
    background-color: #eab000;
    color: #006ca3; }

.site-nav {
  background-color: #006ca3;
  font-family: "proxima-nova-extra-condensed", sans-serif; }
  .site-nav span {
    white-space: nowrap; }
  @media (min-width: 40em) {
    .site-nav {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      background-color: #006ca3; } }

.sn-level-1 {
  margin: 0;
  padding: 0;
  height: 4.0625em; }
  @media (min-width: 40em) {
    .sn-level-1 {
      height: 5.625em; } }

.sn-li-l1 {
  display: block;
  border-bottom: 1px solid #007dbc;
  background-color: #006ca3; }
  .sn-li-l1 a.active {
    background-color: #004a70; }
  .sn-li-l1 span {
    font-size: 1.5em; }
  .sn-li-l1.has-subnav > a span, .sn-li-l1.menu-item-has-children > a span {
    padding-right: 0em;
    background-image: url(img/ico-arrow-down-light.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 0.75em;
    display: block; }
  .sn-li-l1.has-subnav > a.active span, .sn-li-l1.menu-item-has-children > a.active span {
    background-image: url(img/ico-arrow-up-light.svg); }
  .sn-li-l1 > a {
    display: block;
    height: 4.0625em;
    line-height: 4.0625em;
    color: #ffffff;
    text-decoration: none;
    padding: 0 1em; }
    .sn-li-l1 > a:visited {
      color: #ffffff; }
    .sn-li-l1 > a:hover {
      color: #ffffff; }
  .sn-li-l1:hover {
    background-color: #005b8a; }
  @media (min-width: 40em) {
    .sn-li-l1 {
      height: 5.625em;
      float: left;
      border-bottom: 0;
      border-right: 1px solid rgba(0, 58, 100, 0.35);
      text-align: center; }
      .sn-li-l1:nth-child(1n) {
        width: 16.6666666667%; }
      .sn-li-l1:nth-child(2n) {
        width: 16.6666666667%; }
      .sn-li-l1:nth-child(3n) {
        width: 16.6666666667%; }
      .sn-li-l1:nth-child(4n) {
        width: 16.6666666667%; }
      .sn-li-l1:nth-child(5n) {
        width: 16.6666666667%; }
      .sn-li-l1:nth-child(6n) {
        width: 16.6666666667%; }
      .sn-li-l1:hover .sn-level-2 {
        display: block; }
      .sn-li-l1.has-subnav, .sn-li-l1.menu-item-has-children {
        /*
      > a {
        span {
          padding-right: 1em;
          background-size: em(10);
          display: inline;
        }
        &.active {
          span {
            background-image: url(img/ico-arrow-down-light.svg);
          }
        }
      }*/ }
        .sn-li-l1.has-subnav > a span, .sn-li-l1.menu-item-has-children > a span {
          background-image: none; }
        .sn-li-l1.has-subnav > a.active span, .sn-li-l1.menu-item-has-children > a.active span {
          background-image: none; }
      .sn-li-l1 > a {
        padding: 0 1em;
        height: 5.625em;
        line-height: 5.625em; } }
  @media (min-width: 60em) {
    .sn-li-l1 > a {
      padding: 0 2em; } }
  @media (min-width: 80em) {
    .sn-li-l1 > a {
      padding: 0 2em; } }

.sn-level-2 {
  padding: 0;
  margin: 0;
  display: none;
  position: relative; }
  .sn-level-2.active {
    display: block; }
  @media (min-width: 40em) {
    .sn-level-2 {
      position: absolute; }
      .sn-level-2.active {
        display: none; } }

.sn-li-l2, .sn-li-l3 {
  background-color: #005b8a;
  text-align: left; }
  .sn-li-l2 > a, .sn-li-l3 > a {
    padding: 0 1em;
    color: #ffffff;
    border-top: 1px solid rgba(0, 58, 100, 0.35);
    display: block;
    text-decoration: none;
    line-height: 3.75em; }
    .sn-li-l2 > a span, .sn-li-l3 > a span {
      font-size: 1.3125em;
      line-height: 1.25em;
      display: inline-block;
      vertical-align: middle; }
  .sn-li-l2:last-child > a, .sn-li-l3:last-child > a {
    border-bottom: 0; }
  .sn-li-l2:hover, .sn-li-l3:hover {
    background-color: #003957; }
  @media (min-width: 40em) {
    .sn-li-l2:hover .sn-level-3, .sn-li-l3:hover .sn-level-3 {
      display: block; }
    .sn-li-l2 > a, .sn-li-l3 > a {
      padding: 0 1em; } }
  @media (min-width: 60em) {
    .sn-li-l2 > a, .sn-li-l3 > a {
      padding: 0 2em; } }
  @media (min-width: 80em) {
    .sn-li-l2 > a, .sn-li-l3 > a {
      padding: 0 2em; } }

.sn-level-3 {
  padding: 0;
  margin: 0;
  padding-top: 1px;
  display: none;
  position: relative;
  border-left: 1px solid #007dbd; }
  .sn-level-3.active {
    display: block; }
  @media (min-width: 40em) {
    .sn-level-3 {
      position: absolute;
      top: 5.625em;
      left: 100%; }
      .sn-level-3.active {
        display: none; } }

.site-nav-container {
  background-color: #006ca3;
  width: 17em;
  height: 100%;
  right: -17em;
  top: 0;
  bottom: 0;
  z-index: 1000;
  position: absolute;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  .site-nav-container.active {
    right: 0; }
  @media (min-width: 40em) {
    .site-nav-container {
      width: auto;
      height: auto;
      right: auto;
      bottom: auto;
      top: auto;
      position: static;
      background-color: transparent; } }

.site-nav-container-screen {
  position: absolute;
  display: none;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .site-nav-container-screen.active {
    display: block; }
  @media (min-width: 40em) {
    .site-nav-container-screen {
      display: none !important; } }

.close-menu {
  display: inline-block;
  clear: both;
  position: relative;
  text-align: center;
  color: #006ca3 !important;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  padding: 0.25em 1em;
  padding-right: 1.5625em;
  margin: 0 auto;
  font-size: 0.875em;
  background-color: #ffffff;
  border-radius: 0.1875em; }
  .close-menu:visited {
    color: #ffffff; }
  .close-menu:hover {
    color: #ffffff; }
  .close-menu:after {
    content: '';
    background-color: transparent;
    background-image: url(img/ico-exit.svg);
    background-size: 0.8125em 0.8125em;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 1.5625em;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute; }
  @media (min-width: 40em) {
    .close-menu {
      display: none; } }

.current-menu-ancestor, .current-menu-item {
  background-color: #005b8a; }

.snc-header {
  text-align: center;
  padding: 1em; }
  @media (min-width: 40em) {
    .snc-header {
      padding: 0; } }

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/
.inner-wrap, .inner-wrap-narrow {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em 1.5em 1em; }
  .inner-wrap::after, .inner-wrap-narrow::after {
    clear: both;
    content: "";
    display: table; }
  .inner-wrap > *:first-child, .inner-wrap-narrow > *:first-child {
    margin-top: 0; }
  .inner-wrap > *:last-child, .inner-wrap-narrow > *:last-child {
    margin-bottom: 0; }
  @media (min-width: 40em) {
    .inner-wrap, .inner-wrap-narrow {
      padding: 2.5em 1.5em 2.5em 1.5em; } }

.inner-wrap-narrow {
  max-width: 65.625em; }

.media-object {
  overflow: hidden; }
  .media-object > *:first-child {
    margin-top: 0; }
  .media-object > *:last-child {
    margin-bottom: 0; }

.mo-img {
  display: block; }
  .mo-img img {
    width: 100%; }
  @media (min-width: 40em) {
    .mo-img {
      margin-right: 5%;
      width: 20%;
      float: left; } }

@media (min-width: 40em) {
  .mo-body {
    width: 75%;
    float: left; } }

.mo-header {
  margin-top: 0;
  margin-bottom: .15em; }

.media-grid-2 > * {
  margin-bottom: 1em; }
@media (min-width: 40em) {
  .media-grid-2 > * {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 48.4157821556%;
    margin-bottom: 1.5em; }
    .media-grid-2 > *:last-child {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n) {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n+1) {
      clear: left; } }

.dark-module p, .more-info-section p {
  color: #ffffff; }
.dark-module h1, .more-info-section h1, .dark-module h2, .more-info-section h2, .dark-module h3, .more-info-section h3, .dark-module h4, .more-info-section h4, .dark-module .emph, .more-info-section .emph, .dark-module .site-footer li, .site-footer .dark-module li, .more-info-section .site-footer li, .site-footer .more-info-section li, .dark-module .site-footer p, .site-footer .dark-module p, .more-info-section .site-footer p, .site-footer .more-info-section p, .dark-module .ps-title span, .ps-title .dark-module span, .more-info-section .ps-title span, .ps-title .more-info-section span, .dark-module h5, .more-info-section h5 {
  color: #ffffff; }

/*=============== Social Media ===============*/
.social-wrap {
  overflow: hidden;
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/ }
  .social-wrap a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    position: relative; }
    .social-wrap a path {
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      transition: all .1s linear; }
    .social-wrap a:hover {
      opacity: .75; }
      .social-wrap a:hover path {
        fill: #006ca3; }
  .social-wrap img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle; }
  .social-wrap svg {
    display: inline-block;
    vertical-align: middle; }

/*=============== Slide Panel ===============*/
.slide-panel {
  display: none;
  position: fixed;
  background: #333;
  color: #fff;
  height: 100%;
  width: 21.25em;
  right: -em(340);
  top: 14%;
  z-index: 10;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out; }
  .slide-panel h2 {
    padding: .2em 1em; }
  .slide-panel p {
    background: #333;
    padding: .25px 2em; }
  .slide-panel label {
    color: #ffffff !important; }
  .slide-panel:hover {
    right: 0px; }
  @media (min-width: 40em) {
    .slide-panel {
      display: block; } }

.slide-panel-button {
  position: absolute;
  top: 50px;
  right: 340px;
  padding: 20px 20px;
  background: #333;
  min-width: 200px; }

/*=============== Slide Box ===============*/
#slidebox {
  padding: 0.625em 0.625em 0.625em 1em;
  position: fixed;
  bottom: 0;
  right: -26.875em;
  z-index: 1000;
  width: 100%; }
  @media (min-width: 40em) {
    #slidebox {
      width: auto; } }

a.close {
  background-color: white;
  color: #006ca3;
  text-align: center;
  float: left;
  padding: 0 0.5em;
  font-size: 0.6875em;
  border-radius: 0.1875em;
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em; }

a.close:hover {
  background-color: rgba(255, 255, 255, 0.75); }

#last {
  margin: 0 !important; }

/*=============== Misc ===============*/
hr {
  display: block;
  clear: both; }

figure {
  margin: 0;
  padding: 0; }

.wp-pagenavi > * {
  margin-right: .75em; }

/*=============== Accordion Tabs ===============*/
.accordion-tabs {
  line-height: 1.5;
  margin-bottom: 1.5em;
  padding: 0 !important; }
  .accordion-tabs::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 40em)  {
    .accordion-tabs {
      border-radius: 5px;
      border: 1px solid rgba(0, 58, 100, 0.35); } }
  .accordion-tabs .tab-header-and-content {
    list-style: none;
    font-size: 1.15em; }
    .accordion-tabs .tab-header-and-content:after {
      display: none; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-header-and-content {
        display: inline; } }
    .accordion-tabs .tab-header-and-content:first-child .tab-link {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
      @media screen and (max-width: 40em)  {
        .accordion-tabs .tab-header-and-content:first-child .tab-link {
          border-top: 0; } }
    @media screen and (max-width: 40em)  {
      .accordion-tabs .tab-header-and-content:last-child .tab-link {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; } }
  .accordion-tabs .tab-link {
    background-color: white;
    border-top: 1px solid rgba(0, 58, 100, 0.35);
    color: #333;
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.75em 0.809em;
    text-decoration: none;
    font-family: "proxima-nova-extra-condensed", sans-serif;
    border-bottom: 0; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-link {
        display: inline-block;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top: 0; } }
    .accordion-tabs .tab-link:hover {
      color: #006ca3;
      border-bottom: 0; }
    .accordion-tabs .tab-link:focus {
      outline: none; }
    .accordion-tabs .tab-link.is-active {
      background-color: #f7f7f7; }
      @media screen and (min-width: 40em) {
        .accordion-tabs .tab-link.is-active {
          background-color: #f7f7f7;
          border: 1px solid rgba(0, 58, 100, 0.35);
          border-bottom-color: #f7f7f7;
          margin-bottom: -1px; } }
  .accordion-tabs .tab-content {
    background: #f7f7f7;
    display: none;
    padding: 1.5em 1.618em;
    width: 100%; }
    .accordion-tabs .tab-content > *:first-child {
      margin-top: 0; }
    .accordion-tabs .tab-content > *:last-child {
      margin-bottom: 0; }
    @media screen and (min-width: 40em) {
      .accordion-tabs .tab-content {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid rgba(0, 58, 100, 0.35);
        float: left; } }

/*=============== Click to Expand ===============*/
.click-expand {
  border-bottom: 1px solid rgba(0, 58, 100, 0.35);
  clear: both;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .click-expand.active:hover {
    background-color: #ffffff; }
    .click-expand.active:hover .ce-header {
      color: #006ca3; }
  .click-expand.active .ce-header:after {
    content: '-'; }
  .click-expand.active .ce-body {
    display: block;
    opacity: 1;
    -webkit-animation: click-expand .5s 1;
    -moz-animation: click-expand .5s 1;
    animation: click-expand .5s 1;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-delay: .05s;
    -moz-animation-delay: .05s;
    animation-delay: .05s;
    padding: 1em;
    display: block; }
  .click-expand:hover {
    background-color: #006ca3; }
    .click-expand:hover .ce-header {
      color: #ffffff; }

.ce-header {
  position: relative;
  cursor: pointer;
  padding-left: 0.3125em;
  padding-right: 0.3125em; }
  .ce-header:after {
    content: '+';
    color: #ffc71e;
    padding-left: 8px;
    position: absolute;
    right: 0.3125em; }

.ce-body {
  display: none;
  opacity: 0; }

@-webkit-keyframes click-expand {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes click-expand {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes click-expand {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

/*=============== Click to Expand ===============*/
.breadcrumbs {
  font-size: 0.875em;
  margin-top: -1em !important;
  margin-bottom: 2em; }

.site-wrap {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  margin: 0 auto; }

/*=============== Site Header ===============*/
.site-header {
  background-color: rgba(0, 0, 0, 0.25); }
  @media (min-width: 40em) {
    .site-header {
      position: relative;
      z-index: 10; } }

.site-logo {
  background-color: #006ca3;
  height: 4em;
  line-height: 4em; }
  .site-logo img {
    display: inline-block;
    max-width: 10.9375em;
    vertical-align: middle; }
  @media (min-width: 40em) {
    .site-logo {
      height: 5.625em;
      line-height: 5.625em;
      padding: 0 1em;
      border-right: 1px solid rgba(0, 58, 100, 0.35); }
      .site-logo img {
        max-width: 11.875em; } }

.site-utility-nav {
  overflow: hidden;
  text-align: center; }
  .site-utility-nav .inner-wrap, .site-utility-nav .inner-wrap-narrow {
    padding-top: 0.625em;
    padding-bottom: 0.625em; }
  .site-utility-nav .social-wrap {
    width: 15em;
    display: none;
    float: left; }
  @media (min-width: 40em) {
    .site-utility-nav .social-wrap {
      display: inline-block; } }

.site-header-ribbon {
  background-color: #006ca3; }
  .site-header-ribbon .inner-wrap, .site-header-ribbon .inner-wrap-narrow {
    padding-top: 0;
    padding-bottom: 0; }
  .site-header-ribbon .site-logo {
    float: left;
    width: 50%; }
  @media (min-width: 40em) {
    .site-header-ribbon .site-logo {
      float: left;
      width: 25%; }
    .site-header-ribbon .site-nav-container {
      float: left;
      width: 75%; } }

.sun-links {
  font-size: .65em; }
  .sun-links > * {
    margin: 0 .15em .5em 0;
    /* background-color:$yellow;
    border:5px solid $yellow;
    border-radius:$base-border-radius;*/ }
  @media (min-width: 40em) {
    .sun-links {
      font-size: 0.875em;
      float: right; }
      .sun-links > * {
        margin: 0 .25em; } }

.ico-login, .ico-members, .ico-logout, .ico-search, .ico-locator, .ico-menu {
  /*background-repeat:no-repeat;
  background-position:left center;
  padding-left:1.5em;
  background-size:1.25em;*/ }
  .ico-login:before, .ico-members:before, .ico-logout:before, .ico-search:before, .ico-locator:before, .ico-menu:before {
    content: '';
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1.5em;
    background-size: 1.25em; }

.ico-login:before {
  background-image: url(img/ico-login.svg); }

.ico-members {
  display: none; }
  .ico-members:before {
    background-image: url(img/ico-login.svg); }

.ico-logout {
  display: none; }
  .ico-logout:before {
    background-image: url(img/ico-login.svg); }

.logged-in .ico-login {
  display: none; }
.logged-in .ico-logout {
  display: inline-block; }
.logged-in .ico-members {
  display: inline-block; }

.ico-search:before {
  background-image: url(img/ico-search.svg); }

.ico-locator:before {
  background-image: url(img/ico-locator.svg); }

.ico-menu:before {
  background-image: url(img/ico-nav.svg); }
@media (min-width: 40em) {
  .ico-menu {
    display: none; } }

/*.ico-login {
  @extend %ico;
  background-image:url(img/ico-login.svg);
}
.ico-search {
  @extend %ico;
  background-image:url(img/ico-search.svg);
}
.ico-locator {
  @extend %ico;
  background-image:url(img/ico-locator.svg);
}
*/
.sh-icons {
  float: right; }
  @media (min-width: 40em) {
    .sh-icons {
      display: none; } }

.sh-ico-wrap {
  background-color: #ffc71e;
  display: block;
  padding: .2em .2em 0em .2em; }

.sh-ico-search, .sh-ico-menu {
  background-repeat: no-repeat;
  background-position: center .9em;
  display: inline-block;
  padding-top: 2em;
  width: 3.25em;
  height: 4em;
  background-color: #005b8a;
  text-align: center;
  color: #ffffff;
  font-weight: bold; }
  .sh-ico-search:hover, .sh-ico-menu:hover {
    color: #ffffff;
    background-color: #006ca3; }
  .sh-ico-search span, .sh-ico-menu span {
    font-size: .75em; }

.sh-ph {
  margin: 0; }
  .sh-ph i {
    font-style: normal; }
  @media (min-width: 40em) {
    .sh-ph {
      font-size: 1.5em; } }

.sh-ico-search {
  background-image: url(img/ico-search.svg); }

.sh-ico-menu {
  background-image: url(img/ico-nav-light.svg); }
  @media (min-width: 40em) {
    .sh-ico-menu {
      display: none; } }

/*=============== Site Intro ===============*/
.site-header-wrap {
  background-image: url(img/site-intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media (min-width: 40em) {
    .site-header-wrap {
      position: relative; } }

.si-header-wrap {
  background-color: #006ca3;
  background-color: rgba(0, 108, 163, 0.5);
  margin-top: 2.5em;
  margin-bottom: 2.5em; }
  @media (min-width: 40em) {
    .si-header-wrap {
      margin-top: 7.5em;
      margin-bottom: 7.5em;
      position: relative;
      z-index: 2; } }
  @media (min-width: 60em) {
    .si-header-wrap {
      margin-top: 12.5em;
      margin-bottom: 12.5em; } }
  .si-header-wrap .inner-wrap, .si-header-wrap .inner-wrap-narrow {
    padding-top: 1.25em;
    padding-bottom: 1.25em; }

.site-intro {
  position: relative;
  z-index: 3; }

.si-h1 {
  color: #ffffff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  /*font-variant: petite-caps;*/
  /*all-small-caps, petite-caps, all-petite-caps, titling-caps, and unicase*/ }

.svg-intro {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #005b8a;
  z-index: 1;
  min-width: 1400px;
  display: none;
  overflow: hidden; }
  @media (min-width: 40em) {
    .svg-intro {
      display: block; } }
  @media (min-width: 80em) {
    .svg-intro {
      left: 0; } }
  .svg-intro svg {
    display: block; }

.no-smil .svg-intro {
  display: none; }

/*=============== Page Header Intro ===============*/
.page-header .post-meta, .page-header .breadcrumbs {
  color: #ffffff; }
  .page-header .post-meta a, .page-header .breadcrumbs a {
    border-bottom: 2px solid #ffc71e;
    color: #ffffff; }
    .page-header .post-meta a:hover, .page-header .breadcrumbs a:hover {
      color: #ffc71e; }

.ph-header-wrap {
  background-color: #006ca3;
  background-color: rgba(0, 108, 163, 0.5);
  margin-top: 0em;
  margin-bottom: 0em; }
  .ph-header-wrap h1 {
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 0; }
  @media (min-width: 40em) {
    .ph-header-wrap {
      margin-top: 0em;
      margin-bottom: 0em; } }
  @media (min-width: 60em) {
    .ph-header-wrap {
      margin-top: 0em;
      margin-bottom: 0em; } }
  .ph-header-wrap .inner-wrap, .ph-header-wrap .inner-wrap-narrow {
    padding-top: 1.25em;
    padding-bottom: 1.25em; }

.ph-h1 {
  color: #ffffff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  /*font-variant: petite-caps;*/
  /*all-small-caps, petite-caps, all-petite-caps, titling-caps, and unicase*/ }

/*=============== Services Section ===============*/
.services-section {
  background-color: #006ca3;
  overflow: hidden;
  position: relative;
  z-index: 2; }

.ss-item {
  display: block;
  float: left;
  width: 50%;
  border-left: 1px solid rgba(0, 58, 100, 0.35);
  border-bottom: 1px solid rgba(0, 58, 100, 0.35);
  padding: 1em 0em 2em 0em;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-align: center; }
  .ss-item:after {
    font-size: .5em;
    content: '';
    display: block;
    height: 8em;
    background-repeat: no-repeat;
    background-size: 8em;
    background-position: center center;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  @media (min-width: 40em) {
    .ss-item:after {
      font-size: .75em; }
    .ss-item:hover:after {
      -webkit-transform: scale(1.25);
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -o-transform: scale(1.25);
      transform: scale(1.25); }
    .ss-item:hover .ss-item-header {
      -webkit-transform: translateY(-.5em) scale(.875);
      -moz-transform: translateY(-.5em) scale(.875);
      -ms-transform: translateY(-.5em) scale(.875);
      -o-transform: translateY(-.5em) scale(.875);
      transform: translateY(-.5em) scale(.875); } }
  @media (min-width: 60em) {
    .ss-item:after {
      font-size: 1em; } }
  .ss-item:nth-child(1n) {
    background-color: #0282c3; }
    .ss-item:nth-child(1n):after {
      background-image: url(img/ico-pipes-light.svg); }
  .ss-item:nth-child(2n) {
    background-color: #0278b4; }
    .ss-item:nth-child(2n):after {
      background-image: url(img/ico-gears-light.svg); }
  .ss-item:nth-child(3n) {
    background-color: #006ca3; }
    .ss-item:nth-child(3n):after {
      background-image: url(img/ico-automation-light.svg); }
  .ss-item:nth-child(4n) {
    background-color: #ffc71e; }
    .ss-item:nth-child(4n):hover {
      background-color: #eab000; }
    .ss-item:nth-child(4n) .ss-item-header span {
      color: #006ca3; }
    .ss-item:nth-child(4n):after {
      background-image: url(img/ico-cloud.svg); }
  .ss-item:hover {
    background-color: #005b8a; }
  @media (min-width: 40em) {
    .ss-item {
      width: 25%; } }

.ss-item-header {
  font-size: .65em;
  color: #ffffff;
  vertical-align: top;
  display: block;
  margin: 0;
  line-height: 6em;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .ss-item-header span {
    line-height: .75em;
    font-size: 2.125em;
    color: #ffffff;
    display: inline-block; }
  @media (min-width: 40em) {
    .ss-item-header {
      font-size: .75em; }
      .ss-item-header span {
        line-height: .875em; } }
  @media (min-width: 60em) {
    .ss-item-header {
      font-size: 1em; } }

/*=============== Featured Products ===============*/
.section-header {
  margin-bottom: 1.5em; }
  .section-header > *:first-child {
    margin-top: 0; }
  .section-header > *:last-child {
    margin-bottom: 0; }

.sh-header {
  font-size: 2.125em;
  margin: 0; }
  @media (min-width: 40em) {
    .sh-header {
      font-size: 2.8125em; } }
  @media (min-width: 60em) {
    .sh-header {
      font-size: 3.625em; } }

.sh-subheader {
  font-size: 2.125em;
  margin: 0; }

.fp-item {
  border: 1px solid rgba(0, 58, 100, 0.35);
  position: relative;
  display: block;
  height: 15em;
  overflow: hidden;
  background-color: #006ca3;
  background-position: center center;
  background-size: cover; }
  .fp-item img {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out; }
  .fp-item:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  .fp-item:hover .fp-item-title {
    -webkit-transform: translateY(-.5em);
    -moz-transform: translateY(-.5em);
    -ms-transform: translateY(-.5em);
    -o-transform: translateY(-.5em);
    transform: translateY(-.5em); }
  .fp-item img {
    display: block;
    position: relative;
    opacity: .5; }
  @media (min-width: 40em) {
    .fp-item {
      height: 30em;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .fp-item:last-child {
        margin-right: 0; }
      .fp-item img {
        opacity: 1; } }

.fp-item-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0em;
  top: 0;
  text-align: center;
  color: #ffffff;
  font-size: 2.125em;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  left: 0;
  right: 0;
  bottom: 1em;
  top: auto;
  background-color: rgba(0, 108, 163, 0.5);
  border-top: 1px solid rgba(0, 58, 100, 0.35);
  border-bottom: 1px solid rgba(0, 58, 100, 0.35); }

/*=============== Offers Section ===============*/
.offers-section {
  background-image: url(img/bg-air.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid rgba(0, 58, 100, 0.35);
  border-bottom: 1px solid rgba(0, 58, 100, 0.35); }

.os-item img {
  max-width: 50%;
  display: block;
  margin: 0  auto; }
@media (min-width: 40em) {
  .os-item {
    padding: 0 4em; }
    .os-item img {
      max-width: 100%; } }

.os-title {
  font-size: 2.125em;
  text-align: center; }
  @media (min-width: 40em) {
    .os-title {
      text-align: left; } }

.os-description {
  display: none; }
  @media (min-width: 40em) {
    .os-description {
      display: block; } }

.os-cta {
  text-align: center; }
  @media (min-width: 40em) {
    .os-cta {
      text-align: left; } }

/*=============== About Section ===============*/
.about-section {
  position: relative;
  background-color: #ffffff; }
  @media (min-width: 40em) {
    .about-section .inner-wrap, .about-section .inner-wrap-narrow {
      padding-top: 0;
      padding-bottom: 0; } }

.as-container {
  position: relative;
  z-index: 2;
  background-color: white; }
  .as-container > *:first-child {
    margin-top: 0; }
  .as-container > *:last-child {
    margin-bottom: 0; }
  @media (min-width: 60em) {
    .as-container {
      width: 55%;
      padding-right: 3em;
      padding-top: 6em;
      padding-bottom: 6em; } }

.as-figure {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 50em; }
  @media (min-width: 60em) {
    .as-figure {
      background-image: url(img/about-section.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; } }
  .as-figure img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: none; }

/*=============== Site Content ===============*/
@media (min-width: 60em) {
  .site-content-secondary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
    margin-right: 0; }
    .site-content-secondary:last-child {
      margin-right: 0; } }

.aside-nav > .page_item_has_children > .children .children a {
  font-size: 1.3125em;
  padding-left: 1em; }
.aside-nav > .page_item_has_children > .children .children li:last-child {
  border-bottom: 0; }
.aside-nav li {
  list-style: none; }
  .aside-nav li a {
    font-size: 2.125em;
    font-family: "proxima-nova-extra-condensed", sans-serif; }
    .aside-nav li a:hover {
      color: #006ca3; }
  .aside-nav li li {
    display: block;
    border-bottom: 1px solid rgba(0, 58, 100, 0.35); }
    .aside-nav li li:first-child {
      border-top: 1px solid rgba(0, 58, 100, 0.35); }
    .aside-nav li li a {
      display: block;
      padding: .35em;
      font-size: 1.5em;
      background-image: url(img/ico-arrow-right-light.svg);
      background-repeat: no-repeat;
      background-position: center right;
      font-family: "proxima-nova-extra-condensed", sans-serif;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      .aside-nav li li a:hover {
        -webkit-transform: translatex(.25em);
        -moz-transform: translatex(.25em);
        -ms-transform: translatex(.25em);
        -o-transform: translatex(.25em);
        transform: translatex(.25em); }

.aside-ctas {
  margin-top: 1.5em;
  text-align: center; }
  .aside-ctas a {
    display: block !important;
    margin: 0 auto;
    font-size: 1.5em; }

/*=============== Site Footer ===============*/
.site-footer {
  background-color: #006ca3;
  text-align: center;
  color: #ffffff;
  border-top: 1px solid rgba(0, 58, 100, 0.35);
  text-align: center; }
  @media (min-width: 60em) {
    .site-footer .inner-wrap, .site-footer .inner-wrap-narrow {
      background-image: url(img/logo-footer.jpg);
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 14.375em; } }
  .site-footer li, .site-footer p {
    color: #ffffff;
    font-family: "proxima-nova-extra-condensed", sans-serif;
    font-size: 1.3125em; }
    .site-footer li a, .site-footer p a {
      color: #ffffff;
      -webkit-transition: border .2s ease-in-out;
      -moz-transition: border .2s ease-in-out;
      transition: border .2s ease-in-out; }
      .site-footer li a:hover, .site-footer p a:hover {
        border-bottom: 2px solid #ffc71e; }
  @media (min-width: 60em) {
    .site-footer {
      text-align: left; } }

.sf-small {
  background-color: #999;
  text-align: center; }
  .sf-small .inner-wrap, .sf-small .inner-wrap-narrow {
    padding-top: 1em;
    padding-bottom: 1em; }

.sf-nav ul {
  padding: 0; }
  .sf-nav ul li {
    display: inline-block;
    margin: 0 .5em; }

img[name=pphLoggerImage] {
  display: none; }

/*=============== Search ===============*/
.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0; }

.search-row {
  display: table-row;
  width: 100%; }

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em; }

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0; }

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important; }

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(img/ico-search-light.svg) no-repeat center center !important; }

.site-content .search-submit {
  background-color: #006ca3 !important; }

.no-svg .search-submit {
  background: url(img/ico-search.png) no-repeat center center !important; }

@media (min-width: 40em) {
  .site-search {
    width: 100%; }
  .search-text {
    height: 2.3em; }
  .search-submit {
    height: 2.3em; } }

.search-module {
  background-color: #006ca3;
  height: 6em;
  margin-top: -6em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: relative;
  z-index: 10000;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .search-module.active {
    margin-top: 0; }
  .search-module .inner-wrap, .search-module .inner-wrap-narrow {
    padding: 0.3em 1.5em 1em; }

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  top: 0;
  right: 0; }

/*=============== Product Carousel ===============*/
@media (max-width: 40em) {
  .product-item {
    float: left;
    display: block;
    margin-right: 4.8291579146%;
    width: 47.5854210427%; }
    .product-item:last-child {
      margin-right: 0; }
    .product-item:nth-child(2n) {
      margin-right: 0; }
    .product-item:nth-child(2n+1) {
      clear: left; } }
@media (min-width: 40em) {
  .product-item {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .product-item:last-child {
      margin-right: 0; } }

/*=============== Loop Item ===============*/
.loop-item {
  text-align: center;
  border: 1px solid rgba(0, 58, 100, 0.35);
  padding: 1em;
  display: block;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .loop-item:hover {
    background-color: #006ca3; }
    .loop-item:hover .li-title {
      color: #ffffff; }

.li-title {
  margin-bottom: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

/*=============== More Info Module ===============*/
.more-info-section {
  background-color: #006ca3; }

.mi-item {
  border: 1px solid rgba(0, 58, 100, 0.35);
  padding: 1em;
  display: block;
  -webkit-transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out; }
  .mi-item:hover {
    background-color: #005b8a; }
    .mi-item:hover .mi-img img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
      opacity: 1;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }
  @media (max-width: 40em) {
    .mi-item {
      float: left;
      display: block;
      margin-right: 4.8291579146%;
      width: 47.5854210427%;
      min-height: 17.5625em;
      margin-bottom: 1em; }
      .mi-item:last-child {
        margin-right: 0; }
      .mi-item:nth-child(2n) {
        margin-right: 0; }
      .mi-item:nth-child(2n+1) {
        clear: left; }
      .mi-item .mi-body p {
        font-size: 1.125em; }
        .mi-item .mi-body p:after {
          display: none; } }
  @media (min-width: 40em) {
    .mi-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .mi-item:last-child {
        margin-right: 0; } }

.mi-img {
  margin-bottom: 1em;
  overflow: hidden; }
  .mi-img img {
    display: block;
    margin: 0  auto;
    width: 100%;
    opacity: .5;
    -webkit-transition: all .2s ease-in-out, opacity .2s ease-in-out;
    -moz-transition: all .2s ease-in-out, opacity .2s ease-in-out;
    transition: all .2s ease-in-out, opacity .2s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

.mi-body > *:first-child {
  margin-top: 0; }
.mi-body > *:last-child {
  margin-bottom: 0; }
@media (max-width: 40em) {
  .mi-body p {
    padding-right: 0; } }
.mi-body p {
  font-size: 1.5em; }

/*=============== HubSpot Landing Page ===============*/
.hs-landing-page .site-content-primary ul li:after {
  background-image: url(http://cdn2.hubspot.net/hubfs/379142/img/ico-bullet.svg); }
.hs-landing-page .site-header-wrap {
  background-image: url(http://www.cyclonaire.com/assets/header-curving-pipe-view.jpg); }
  .hs-landing-page .site-header-wrap .social-wrap {
    width: 15em;
    margin-top: 2em;
    float: right;
    display: none; }
    @media (min-width: 40em) {
      .hs-landing-page .site-header-wrap .social-wrap {
        display: block; } }
.hs-landing-page .inner-wrap, .hs-landing-page .inner-wrap-narrow {
  max-width: 75em; }
@media (min-width: 40em) {
  .hs-landing-page .site-content-primary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .hs-landing-page .site-content-primary:last-child {
      margin-right: 0; } }
@media (min-width: 40em) {
  .hs-landing-page .site-content-secondary {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .hs-landing-page .site-content-secondary:last-child {
      margin-right: 0; } }
.hs-landing-page .site-content-secondary .hs-form {
  background-color: #eaeaea;
  padding: 1.5em;
  border-radius: 5px; }
.hs-landing-page .site-logo {
  border-right: 0; }

/*=============== Page Siblings ===============*/
.page-siblings {
  display: block;
  clear: both;
  overflow: hidden; }
  .page-siblings > * {
    width: 50%;
    float: left;
    height: 5em; }
  @media (min-width: 40em) {
    .page-siblings > * {
      width: 16.6666666667%; } }

.ps-item, .ps-item-header {
  display: block;
  position: relative;
  background-color: #ffffff;
  border-right: 1px solid rgba(0, 58, 100, 0.35);
  border-top: 1px solid rgba(0, 58, 100, 0.35); }

.ps-item-header {
  background-color: #ffc71e; }
  .ps-item-header .ps-title {
    color: #006ca3; }
    .ps-item-header .ps-title span {
      color: #006ca3; }

.ps-title {
  position: relative;
  z-index: 2;
  text-align: center;
  line-height: 5em;
  height: 5em; }
  .ps-title span {
    color: #006ca3;
    display: inline-block;
    margin: 0;
    line-height: 1.2em;
    vertical-align: middle;
    font-size: 1.5em; }

.ps-img {
  background-size: cover;
  background-position: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  z-index: 1; }

.svg-wrapper {
  display: none;
  position: relative;
  width: 100%;
  padding-bottom: 65%;
  vertical-align: middle; }
  @media (min-width: 40em) {
    .svg-wrapper {
      display: inline-block; } }

.svg-wrapper svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer; }

.rep-locator-item p {
  font-size: 1.125em; }

#map {
  height: 50em; }

.leaflet-popup-content .li-title {
  margin-top: 0; }

.site-content p span a, .site-content p span a.cta_button {
  border-bottom: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.alignright {
  display: block;
  padding-bottom: 1.5em; }

.alignleft {
  display: block;
  padding-bottom: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

@media (min-width: 40em) {
  .alignright {
    display: block;
    float: right;
    padding-bottom: 1.5em;
    padding-left: 1.5em; }
  .alignleft {
    display: block;
    float: left;
    padding-bottom: 1.5em;
    padding-right: 1.5em; }
  .aligncenter {
    display: block;
    margin: 0 auto; } }

.text-alignright {
  text-align: right; }

.text-alignleft {
  text-align: left; }

.text-aligncenter {
  text-align: center; }

.clearboth {
  clear: both;
  display: block; }

.text-mobile-hide {
  display: none; }
  @media (min-width: 40em) {
    .text-mobile-hide {
      display: inline; } }

.no-padding-top {
  padding-top: 0; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons
@font-face {
  font-family: 'flexslider-icon';
  src:url('fonts/flexslider-icon.eot');
  src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('fonts/flexslider-icon.woff') format('woff'),
    url('fonts/flexslider-icon.ttf') format('truetype'),
    url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
 */
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0;
  background: transparent;
  border: 0;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 125em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 57%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  left: 10px; }

.flexslider:hover .flex-next {
  right: 10px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  display: block;
  content: '';
  height: 2.5em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-image: url(img/ico-arrow-left.svg); }

/*{ font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }*/
.flex-direction-nav a.flex-next:before {
  background-image: url(img/ico-arrow-right.svg); }

/*{ content: '\f002'; }*/
/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/*
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
*/
.flex-direction-nav .flex-prev {
  opacity: .3;
  left: 10px; }

.flex-direction-nav .flex-next {
  opacity: .3;
  right: 10px; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/*! Tablesaw - v1.0.2 - 2014-12-17
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2014 Filament Group; Licensed MIT */
table.tablesaw {
  empty-cells: show;
  max-width: 100%;
  width: 100%; }

.tablesaw {
  border-collapse: collapse;
  width: 100%; }

/* Structure */
.tablesaw {
  border: 0;
  padding: 0; }

.tablesaw th, .tablesaw td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em .7em; }

.tablesaw thead tr:first-child th {
  padding-top: .9em;
  padding-bottom: .7em; }

/* Table rows have a gray bottom stroke by default */
.tablesaw-stack tbody tr {
  border-bottom: 1px solid #dfdfdf; }

.tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
  display: none; }

/* Mobile first styles: Begin with the stacked presentation at narrow widths */
@media only all {
  /* Show the table cells as a block level element */
  .tablesaw-stack td, .tablesaw-stack th {
    text-align: left;
    display: block; }
  .tablesaw-stack tr {
    clear: both;
    display: table-row; }
  /* Make the label elements a percentage width */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: block;
    padding: 0 .6em 0 0;
    width: 30%;
    display: inline-block; }
  /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
  .tablesaw-stack th .tablesaw-cell-label-top, .tablesaw-stack td .tablesaw-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0; }
  .tablesaw-cell-label {
    display: block; }
  /* Avoid double strokes when stacked */
  .tablesaw-stack tbody th.group {
    margin-top: -1px; }
  /* Avoid double strokes when stacked */
  .tablesaw-stack th.group b.tablesaw-cell-label {
    display: none !important; } }

@media (max-width: 39.9375em) {
  .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: none; }
  .tablesaw-stack tbody td, .tablesaw-stack tbody th {
    clear: left;
    float: left;
    width: 100%; }
  .tablesaw-cell-label {
    vertical-align: top; }
  .tablesaw-cell-content {
    max-width: 67%;
    display: inline-block; }
  .tablesaw-stack td:empty, .tablesaw-stack th:empty {
    display: none; } }

/* Media query to show as a standard table at 560px (35em x 16px) or wider */
@media (min-width: 40em) {
  .tablesaw-stack tr {
    display: table-row; }
  /* Show the table header rows */
  .tablesaw-stack td, .tablesaw-stack th, .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: table-cell;
    margin: 0; }
  /* Hide the labels in each cell */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: none !important; } }

svg {
  pointer-events: none; }

/* Demo 1 */
.demo-drawings figcaption {
  margin: 0 auto 0 auto;
  max-width: 40em;
  width: 95%;
  text-align: center; }

.demo-drawings figure:first-child figcaption {
  margin-top: 8em; }

.demo-drawings figcaption h2 {
  font-weight: 300;
  font-size: 3em;
  margin-bottom: 0.2em; }

.demo-drawings figcaption p {
  font-size: 1.3em; }

.drawings {
  position: relative;
  max-height: 100%; }

.illustration {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.show {
  opacity: 1; }

.hide {
  opacity: 0; }

.line-drawing, .illustration {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.line-drawing path {
  fill: none;
  stroke: white;
  stroke-width: 3; }

path.line-round {
  stroke-linecap: round; }

path.stroke-medium {
  stroke-width: 2; }

path.stroke-thin {
  stroke-width: 1; }

/* Leaflet JS required styles */
.leaflet-map-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-pane, .leaflet-tile-container, .leaflet-overlay-pane, .leaflet-shadow-pane, .leaflet-marker-pane, .leaflet-popup-pane, .leaflet-overlay-pane svg, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer {
  position: absolute;
  left: 0;
  top: 0; }

.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none; }

.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none; }

.leaflet-marker-icon, .leaflet-marker-shadow {
  display: block; }

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width: none !important; }

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important; }

.leaflet-tile {
  filter: inherit;
  visibility: hidden; }

.leaflet-tile-loaded {
  visibility: inherit; }

.leaflet-zoom-box {
  width: 0;
  height: 0; }

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none; }

.leaflet-tile-pane {
  z-index: 2; }

.leaflet-objects-pane {
  z-index: 3; }

.leaflet-overlay-pane {
  z-index: 4; }

.leaflet-shadow-pane {
  z-index: 5; }

.leaflet-marker-pane {
  z-index: 6; }

.leaflet-popup-pane {
  z-index: 7; }

.leaflet-vml-shape {
  width: 1px;
  height: 1px; }

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute; }

/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto; }

.leaflet-top, .leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none; }

.leaflet-top {
  top: 0; }

.leaflet-right {
  right: 0; }

.leaflet-bottom {
  bottom: 0; }

.leaflet-left {
  left: 0; }

.leaflet-control {
  float: left;
  clear: both; }

.leaflet-right .leaflet-control {
  float: right; }

.leaflet-top .leaflet-control {
  margin-top: 10px; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px; }

.leaflet-left .leaflet-control {
  margin-left: 10px; }

.leaflet-right .leaflet-control {
  margin-right: 10px; }

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile, .leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.leaflet-fade-anim .leaflet-tile-loaded, .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1); }

.leaflet-zoom-anim .leaflet-tile, .leaflet-pan-anim .leaflet-tile, .leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden; }

/* cursors */
.leaflet-clickable {
  cursor: pointer; }

.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.leaflet-popup-pane, .leaflet-control {
  cursor: auto; }

.leaflet-dragging .leaflet-container, .leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

/* visual tweaks */
.leaflet-container {
  background: #ddd;
  outline: 0; }

.leaflet-container a {
  color: #0078A8; }

.leaflet-container a.leaflet-active {
  outline: 2px solid orange; }

.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5); }

/* general typography */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* general toolbar styles */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px; }

.leaflet-bar a, .leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black; }

.leaflet-bar a, .leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block; }

.leaflet-bar a:hover {
  background-color: #f4f4f4; }

.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none; }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb; }

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px; }

/* zoom control */
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px; }

.leaflet-control-zoom-out {
  font-size: 20px; }

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px; }

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px; }

/* layers control */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px; }

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px; }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px; }

.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none; }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative; }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff; }

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px; }

.leaflet-control-layers label {
  display: block; }

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px; }

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0; }

.leaflet-control-attribution, .leaflet-control-scale-line {
  padding: 0 5px;
  color: #333; }

.leaflet-control-attribution a {
  text-decoration: none; }

.leaflet-control-attribution a:hover {
  text-decoration: underline; }

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
  font-size: 11px; }

.leaflet-left .leaflet-control-scale {
  margin-left: 5px; }

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px; }

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5); }

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px; }

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777; }

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  box-shadow: none; }

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box; }

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px; }

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4; }

.leaflet-popup-content p {
  margin: 18px 0; }

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden; }

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent; }

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999; }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1; }

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678); }

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px; }

.leaflet-oldie .leaflet-control-zoom, .leaflet-oldie .leaflet-control-layers, .leaflet-oldie .leaflet-popup-content-wrapper, .leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999; }

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666; }

/*! {% include "hubspot/styles/responsive/required_base.css" %}*/
/*!

*/
/*# sourceMappingURL=style.css.map */