<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en">        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en">               <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="{{ meta_author }}">
    <meta name="description" content="{{ page_meta.meta_description }}">
    <meta name="generator" content="HubSpot">
    <title>{{ page_meta.html_title }}</title>
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}

    
    {{ standard_header_includes }}
    {% style include_default_custom_css="true" %}


</head>
<body class=" {{ builtin_body_classes }}" style="">
    <div class="header-container-wrapper">
    <div class="header-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
            <div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
{% include 'generated_global_groups/694702553.html' %}
            </div><!--end widget-span -->
        </div><!--end row-->
        </div><!--end row-wrapper -->

    </div><!--end header -->
</div><!--end header wrapper -->

<div class="body-container-wrapper">
    <div class="body-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
            <div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

                <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
                <div class="row-fluid ">
                    <div class="span8 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="8">

                        <div class="row-fluid-wrapper row-depth-2 row-number-1 ">
                        <div class="row-fluid ">
                            <div class="span12 widget-span widget-type-section_header " style="" data-widget-type="section_header" data-x="0" data-w="12">
                                <div class="cell-wrapper layout-widget-wrapper">
                                    {% section_header "section_header" subheader='We hope you find it valuable.', header='Thanks for downloading this offer!', overrideable=True, label='Section Header' %}
                                </div><!--end layout-widget-wrapper -->
                            </div><!--end widget-span -->
                        </div><!--end row-->
                        </div><!--end row-wrapper -->
                        <div class="row-fluid-wrapper row-depth-2 row-number-2 ">
                        <div class="row-fluid ">
                            <div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
                                <div class="cell-wrapper layout-widget-wrapper">
                                    {% widget_block rich_text "left_column" overrideable=True, label='Left Column'  %}
                                        {% widget_attribute "html" %}<h2>Deliver on the promised offer.</h2>
<p>Tell them how they can receive the promised offer - whether it be clicking to download the offer, or set their expectations on what to expect next.</p>
{% end_widget_attribute %}
                                    {% end_widget_block %}
                                </div><!--end layout-widget-wrapper -->
                            </div><!--end widget-span -->
                        </div><!--end row-->
                        </div><!--end row-wrapper -->
                        <div class="row-fluid-wrapper row-depth-2 row-number-3 ">
                        <div class="row-fluid ">
                            <div class="span12 widget-span widget-type-social_sharing " style="" data-widget-type="social_sharing" data-x="0" data-w="12">
                                <div class="cell-wrapper layout-widget-wrapper">
                                    {% widget_block social_sharing "social_sharing" label='Social Sharing', overrideable=True, use_page_url=True  %}
                                    {% end_widget_block %}
                                </div><!--end layout-widget-wrapper -->
                            </div><!--end widget-span -->
                        </div><!--end row-->
                        </div><!--end row-wrapper -->
                    </div><!--end widget-span -->
                <div class="span4 widget-span widget-type-cell custom_sidebar" style="" data-widget-type="cell" data-x="8" data-w="4">

                    <div class="row-fluid-wrapper row-depth-2 row-number-4 ">
                    <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
                            <div class="cell-wrapper layout-widget-wrapper">
                                {% widget_block rich_text "right_column" overrideable=True, label='Right Column'  %}
                                    {% widget_attribute "html" %}<h3>Provide additional relevant content for the new lead</h3>
<p>Include links to content below:</p>
<ul>
<li>Remember to provide relevant content.</li>
<li>That speaks to where they are in the buying process.</li>
<li>Always be helpful.</li>
</ul>
{% end_widget_attribute %}
                                {% end_widget_block %}
                            </div><!--end layout-widget-wrapper -->
                        </div><!--end widget-span -->
                    </div><!--end row-->
                    </div><!--end row-wrapper -->
                    <div class="row-fluid-wrapper row-depth-2 row-number-5 ">
                    <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-cta " style="" data-widget-type="cta" data-x="0" data-w="12">
                            <div class="cell-wrapper layout-widget-wrapper">
                                {% cta "call_to_action" overrideable=True, label='Call-to-Action' %}
                            </div><!--end layout-widget-wrapper -->
                        </div><!--end widget-span -->
                    </div><!--end row-->
                    </div><!--end row-wrapper -->
                </div><!--end widget-span -->
        </div><!--end row-->
        </div><!--end row-wrapper -->
    </div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->

<div class="footer-container-wrapper">
    <div class="footer-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
        <div class="row-fluid ">
            <div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
{% include 'generated_global_groups/694699028.html' %}
            </div><!--end widget-span -->
        </div><!--end row-->
        </div><!--end row-wrapper -->

    </div><!--end footer -->
</div><!--end footer wrapper -->


    {{ standard_footer_includes }}
    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->
</body>
</html>
