        <!--Site Header-->
       

        <div class="site-header-wrap clearfix">
      
    
    <header class="site-header" role="banner">
      
<div class="site-header-ribbon clearfix">

      <div class="inner-wrap">
        
      <!--  <a href="dest.html" class="site-logo"><img src="http://www.cyclonaire.com/wp-content/themes/cyclonaire-default/img/site-logo.png" alt="Site Logo"></a> -->
      <a href="http://www.cyclonaire.com" class="site-logo"><img src="http://www.cyclonaire.com/wp-content/themes/cyclonaire-default/img/cyclonaire-logo-inverted.svg" alt="Site Logo"></a>
    <div class="social-wrap">
            <a href="https://www.facebook.com/Cyclonaire" target="_blank"><img src="http://www.cyclonaire.com/wp-content/themes/cyclonaire-default/img/ico-facebook.svg" data-png-fallback="img/ico-facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com/cyclonaire" target="_blank"><img src="http://www.cyclonaire.com/wp-content/themes/cyclonaire-default/img/ico-twitter.svg" data-png-fallback="img/ico-twitter.png" alt="Twitter"></a>
            <a href="https://www.linkedin.com/company/cyclonaire" target="_blank"><img src="http://www.cyclonaire.com/wp-content/themes/cyclonaire-default/img/ico-linkedin.svg" data-png-fallback="img/ico-linkedin.png" alt="LinkedIn"></a>
            <a href="http://www.cyclonaire.com/blog" target="_blank"><img src="http://www.cyclonaire.com/wp-content/themes/cyclonaire-default/img/ico-blog.svg" data-png-fallback="img/ico-blog.png" alt="Blog"></a>
          </div>
        <!--Site Nav--> 
        
      </div>
      <!--inner-wrap END-->
</div>
    </header>




    
<!--

-->